<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../../favicon.ico">
    <title>公司操作系统</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->
</head>

<body STYLE="BACKGROUND-COLOR:lightgrey;">
    <div class="container" id="wrapper">
        <header class="navbar navbar-inverse navbar-fixed-top" id="top">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="" class="navbar-brand">回到首页</a>
                </div>
                <nav id="bs-navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="" target="_blank" class="navbar-brand">管理物流订单</a>
                        </li>
                        <li>
                            <a href="" target="_blank" class="navbar-brand">发布价格</a>
                        </li>
                        <li>
                            <a href="" target="_blank" class="navbar-brand">查询招标信息</a>
                        </li>
                        <!--在各个href中添加 页面链接-->
                    </ul>>
                </nav>
            </div>
        </header>
        <hr>
        <hr>
        <div class="jumbotron">
            <div class="container">
                <h2></h2>
                <h1>欢迎访问LECMS</h1>
                <h3>&nbsp &nbsp 您可以使用以下功能 :</h3>
                <p> &nbsp &nbsp &nbsp &nbsp1、查询招标信息&nbsp &nbsp 2、发布价格 &nbsp &nbsp3、管理物流订单 </p>
                <p>&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp通过以下按钮完成功能</p>
                <!--在以下两个按钮链接添加 页面链接-->
                <p>&nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp&nbsp &nbsp
                    <a class="btn btn-primary btn-lg" href="" role="button">查询招标信息</a> &nbsp &nbsp&nbsp &nbsp&nbsp &nbsp<a class="btn btn-primary btn-lg" href="" role="button">发布物流价格</a> &nbsp &nbsp&nbsp &nbsp&nbsp &nbsp<a class="btn btn-primary btn-lg"
                        href="" role="button">管理物流订单</a>
                </p>
            </div>
        </div>

    </div>
</body>

</html>