<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2">
                    <p></p>
                </div>
                <div class="span10">
                    <ul class="nav nav-pills">
                        <li class="active">
                            <a href="#">首页</a>
                        </li>
                        <li>
                            <a href="#">信息检索</a>
                        </li>
                        <li>
                            <a href="#">信息发布</a>
                        </li>
                        <li>
                            <a href="/login/">登录/注册</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
