<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../../favicon.ico">
    <title>用户操作系统</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
</head>

<body STYLE="BACKGROUND-COLOR:lightgrey;">
    <div class="container" id="wrapper">
        <header class="navbar navbar-inverse navbar-fixed-top" id="top">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/myApp/client/main" class="navbar-brand">回到首页</a>
                </div>
                <nav id="bs-navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="" target="_blank" class="navbar-brand">物流查询</a>
                        </li>
                        <li>
                            <a href="" target="_blank" class="navbar-brand">价格查询</a>
                        </li>
                        <li>
                            <a href="/myApp/client/giveInv" class="navbar-brand">发布招标信息</a>
                        </li>
                        <!--在各个href中添加 页面链接-->
                    </ul>>
                </nav>
            </div>
        </header>
        <hr>
        <hr>
        <div class="jumbotron">
            <div class="container">
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <th>公司</th>
                        <th>重量</th>
                        <th>报价（元/公里）</th>
                    </thead>
                    <tbody>
                        {%for item in data%}
                        <tr>
                            <td>{{item.ComNUM}}</td>
                            <td>{{item.weight}}</td>
                            <td>{{item.pricing}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>